*
!clamp-base.Dockerfile
!clamp-claude.Dockerfile
!clamp-opencode.Dockerfile
!clamp-pi.Dockerfile
!init-firewall.sh

!clamp-shared/
!clamp-shared/**
!claude-clamp-core/
!claude-clamp-core/**
!claude-clamp-workflows/
!claude-clamp-workflows/**
!opencode-clamp-core
!opencode-clamp-core/**
!clamp-pi
!clamp-pi/**

!startup-scripts/
!startup-scripts/**
!shutdown-scripts/
!shutdown-scripts/**

!.dockerignore
!.gitignore

!clamp-claude.sh
!clamp-open-code.sh
!clamp-pi.sh
!clamp-lib.sh
!clamp-cleanup.sh

!.github
!.github/**

!CHANGELOG.adoc
!VERSION

!Customization.adoc
!README.adoc
!renovate.json
!UNLICENSE

!.drafts
!.drafts/**
!.docs/
!.docs/**
