*
!Dockerfile
!init-firewall.sh
!claude-clamp-core/
!claude-clamp-core/**
!claude-clamp-workflows/
!claude-clamp-workflows/**
!startup-scripts/
!startup-scripts/**

!.github
!.github/**

!claude-clamp.sh
!Customization.adoc
!README.adoc
!.gitignore
!.dockerignore
!renovate.json
!UNLICENSE

!.drafts