*
!Dockerfile
!init-firewall.sh
!clamp-shared/
!clamp-shared/**
!claude-clamp-core/
!claude-clamp-core/**
!claude-clamp-workflows/
!claude-clamp-workflows/**
!opencode-clamp-core
!opencode-clamp-core/**
!startup-scripts/
!startup-scripts/**
!.dockerignore

!.gitignore

!clamp-claude.sh
!clamp-open-code.sh
!clamp-lib.sh
!clamp-cleanup.sh

!.github
!.github/**

!Customization.adoc
!README.adoc
!renovate.json
!UNLICENSE

!.drafts
!.drafts/**
!.docs/
!.docs/**